<app-header></app-header>

<main>
    <div class="title">
        <span class="square"></span>
        <h1>Projects</h1>
    </div>
    <div class="card">
        <div class="card-body">
            <span class="rectangle"></span>
            <p id="p-title">bayty</p>
            <p id="p-date">09/2022 - 06/2023</p>
            <!-- <p>Graduation Project</p> -->
            <p id="p-description">My graduation project was designed to help users find their dream home in an
                easy and fun way. The website has been built using Angular, SQL Server and
                .NET Core, which makes it fast, responsive, and secure. The website has
                features such as user authentication, real-time chat, maps integration, filtering
                properties based on user preferences and 2 step authentication which make it
                easy to use and navigate</p>
        </div>
        <div class="card-image">
            <img [src]="'/assets/bayty.jpg'">
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <span class="rectangle"></span>
            <p id="p-title">Storefront-App</p>
            <p id="p-date">06/2022</p>
            <!-- <p>Graduation Project</p> -->
            <p id="p-description">A backend application focusing on creating a database using postgreSql and making it
                applicable to frontend development and securing in with JWTs
            </p>
        </div>
        <div class="card-image">
            <img [src]="'/assets/storefront2.jpg'">
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <span class="rectangle"></span>
            <p id="p-title">Image Processing API</p>
            <p id="p-date">05/2022</p>
            <!-- <p>Graduation Project</p> -->
            <p id="p-description">A backend application focusing on creating an API that handles the resizing and
                processing of any image using Node.Js, Typescript, Express.Js</p>
        </div>
        <div class="card-image">
            <img [src]="'/assets/image-processing.jpg'">
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <span class="rectangle"></span>
            <p id="p-title">MyReads</p>
            <p id="p-date">01/2022 - 03/2022</p>
            <!-- <p>Graduation Project</p> -->
            <p id="p-description">MyReads is a project that is done using React and Node.js. The goal of the project is
                to search for books and add them to the user’s reading list. The reading list consists of three shelves
                which are:
                Currently Reading,
                Want to Read,
                and Read.
                The project supports searching for books when adding them to shelves and also supports changing the
                books shelves for better experience</p>
        </div>
        <div class="card-image">
            <img [src]="'/assets/MyReads.jpg'">
        </div>
    </div>


</main>

<app-footer></app-footer>