main {
    background-image: linear-gradient(to right, #dfd3c7, #dfd3c7 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding-bottom: 50px;

    & .title {
        display: flex;
        align-items: center;
        gap: 8px;
        text-align: center;
        padding-top: 50px;

        & .square {
            display: block;
            width: 20px;
            height: 20px;
            background: #0050ff;
        }
    }

    & .projects-intro {
        display: flex;
        flex-direction: column;
        width: 60%;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

}