*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,
button {
    all: unset;
    cursor: pointer;
}

li {
    list-style: none;
}

h3 {
    font-weight: bolder;
    font-size: x-large;
}

.header {
    & .drawer {
        opacity: 0;
        transition: 0.5s;
    }

    @media (width < 767px) {
        .drawer.enabled {
            opacity: 1;
            background: #dfd3c7;
            width: 100vw;
            height: 100vh;
            padding: 30%;
            font-weight: bold;
            font-size: larger;
            display: flex;
            flex-direction: column;
            align-items: center;

            & li {
                padding-bottom: 25px;
                white-space: nowrap;
                text-align: center;
                text-transform: uppercase;
            }

            & li:hover {
                color: #0050ff;
                transition: 0.3s;
            }
        }
    }
}

.navbar {
    padding: 32px;
    display: flex;
    justify-content: space-between;
    gap: 16px;

    & .navbar-brand {
        display: inherit;
        align-items: center;
        flex-wrap: wrap;
        gap: 8px;

        & .flex-item {
            display: flex;
            align-items: center;
            gap: inherit;
        }

        @media (width < 625px) {
            & p:first-of-type {
                display: none;
            }
        }

        & p:last-child {
            text-transform: uppercase;
        }

        & .square {
            display: block;
            width: 16px;
            height: 16px;
            background: #0050ff;
        }
    }

    & .navbar-links {
        & ul {
            display: flex;
            /* justify-content: space-between; */
            gap: 24px;

            & li {
                font-weight: bold;
                font-size: larger;
                text-transform: uppercase;
            }

            & li a:hover {
                color: #0050ff;
                transition: 0.3s;
            }
        }

        @media (width < 767px) {
            display: none;
        }
    }

    & .navbar-toggler {
        flex-shrink: 0;
        width: 30px;
        height: 48px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 4px;

        & span {
            display: block;
            height: 2px;
            background: #0050ff;
            transition: 0.5s;

            &:nth-child(odd) {
                width: 50%;
            }

            &:last-of-type {
                translate: 100%;
            }


        }

        &:focus {
            &.navbar-toggler.enabled {

                & span {
                    transition: 0.5s;

                    &:first-child {
                        transform: rotate(45deg);
                        translate: 10%;

                    }

                    &:nth-child(2) {
                        transform: rotate(-45deg);
                    }

                    &:last-child {
                        transform: rotate(45deg);
                        translate: 90%;


                    }



                }
            }

        }




        @media (width >=767px) {
            display: none;
        }
    }
}