<div class="header">
  <div class="container">
    <div class="label">
      <span class="name">Muhammad Fawky</span>
      <span class="title" >   / Software Engineer</span>
    </div>
    <div class="links" >
      <span class="icon" (click)="showMenu()">
        <span></span>
        <span></span>
        <span></span>
      </span>
      <ul id="navlinks">
        <li><a routerLink="/">About</a></li>
        <li><a routerLink="/resume">Resume</a></li>
        <li><a routerLink="/projects">Projects</a></li>
      </ul>
    </div>
  </div>
</div>