.header {
    padding: 20px;

}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 100%;
    height: 70px;
}

.header .name {
    font-size: xx-large;
    text-transform: uppercase;
    font-weight: bolder;
}

.header .title {
    font-size: large;
}

.header .links {
    position: relative;
}

/* .header .links ul{
    display: flex;
}
.header .links ul li {
    display: flex;
    align-items: center;
    padding: 0 20px;
    height: 100%;
    list-style: none;
    cursor: pointer;
}
.header .links ul li a{
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    text-transform: uppercase;
} */



@media (max-width: 768px) {
    .container {
        width: 750;
    }

    .header .title{
        display: block;
    }
    .header .name{
        flex-wrap: wrap;
    }
}

@media (min-width: 768px) {
    .container {
        width: 970;
    }


}

@media (min-width: 1280px) {
    .container {
        width: 1170;
    }

}


.header .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    cursor: pointer;
}

.header .links .icon span {
    background-color: #222;
    margin-bottom: 5px;
    height: 2px;
}

.header .links .icon span:first-child {
    width: 100%;
}

.header .links .icon span:nth-child(2) {
    width: 60%;
    transition: 0.3s;
}

.header .links .icon span:last-child {
    width: 100%;
}

.header .links .icon:hover span:nth-child(2) {
    width: 100%;
}

.header .links ul {
    /* display: none; */
    display: block;
    background-color: rgb(230,218,206);
    position: absolute;
    min-width: 200px;
    right: 0;
    padding: 20px;
    top: 100%;
    /* display: none; */
    transition: 0.5s;
    list-style: none;

}

.header .links ul::before {
    content: "";
    border-style: solid;
    border-width: 10px;
    border-color: transparent transparent rgb(230,218,206) transparent;
    position: absolute;
    right: 5px;
    top: -14%;
    opacity: 1;
    transition: 0.5s;
}

.header .links ul li:not(:last-child) {
    padding-bottom: 15px;
}

.header .links ul li a {
    color: #222;
    transition: 0.5s;
    text-decoration: none;
    font-weight: bold;
    font-size: large;
    
}

.header .links ul li a:hover {
    padding-left: 10px;
}