<app-header></app-header>
<main>
    <div class="title">
        <span class="square"></span>
        <h1>Resume</h1>
    </div>
    <div class="download">
        <h2>Education</h2>
        <a href="https://drive.google.com/file/d/1fCdLNXPnKggrPSvTKNWXTFjY3tl1h_qr/view?usp=sharing" target="_blank"><button
                class="download-btn">Download CV</button></a>
    </div>
    <div class="education">
        <div class="name-date-location">
            <p>2019 - 2023</p>
            <p>Helwan University</p>
            <p>Bachelor Degree</p>
            <p>Cairo</p>
        </div>
        <div class="description">
            <p>Graduated from the faculty of computer science and artificial intelligence at Helwan University in Cairo,
                Software Enginneering Department, Academically studied software engineering lifecycle, methodolgies, and
                principles. practically worked with lots of programming languages and frameworks, and learned how to
                apply the principles we have learned in the academic sections.</p>
        </div>
    </div>
    <div class="experience-title">
        <h2>Experience</h2>
    </div>
    <div class="experience">
        <div class="name-date-location">
            <p>2023</p>
            <p>HassanElNady.com</p>
            <p>Freelance</p>
            <p>Cairo</p>
        </div>
        <div class="description">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, voluptates. Quaerat ratione fugiat
                tenetur illo sunt vel doloribus sint minus animi modi dolore ad dolores, dolorum similique, repudiandae
                illum possimus.</p>
        </div>
    </div>
</main>

<app-footer></app-footer>