<app-header></app-header>
<main>
    <div class="title">
        <span class="square"></span>
        <h1>Resume</h1>
    </div>
    <div class="download">
        <h2>Education</h2>
        <a href="https://drive.google.com/file/d/17gQ_tiNNc_oK32lYL1MeIBgRFZt9rpZO/view?usp=sharing"
            target="_blank"><button class="download-btn">Download CV</button></a>
    </div>
    <div class="education">
        <div class="name-date-location">
            <p>2019 - 2023</p>
            <p>Helwan University</p>
            <p>Bachelor Degree</p>
            <p>Cairo</p>
        </div>
        <div class="description">
            <p>Graduated from the faculty of computer science and artificial intelligence at Helwan University in Cairo,
                Software Enginneering Department, Academically studied software engineering lifecycle, methodolgies, and
                principles. practically worked with lots of programming languages and frameworks, and learned how to
                apply the principles we have learned in the academic sections.</p>
        </div>
    </div>
    <div class="experience-title">
        <h2>Experience</h2>
    </div>

    <div class="experience">
        <div class="name-date-location">
            <p>Present</p>
            <p>Teaching Assistant</p>
            <p>Egyptian Chinese University (ECU)</p>
            <p>Nasr City - Cairo</p>
        </div>
        <div class="description">
            <p>Currently working as a teaching assistant at the Faculty of computers ans Information Systems at The Egyptian Chinese University (ECU)
            </p>
        </div>
    </div>

    <div class="experience">
        <div class="name-date-location">
            <p>07/2023 - Present</p>
            <p>HassanElNady.com</p>
            <p>Freelance</p>
            <p>Cairo</p>
        </div>
        <div class="description">
            <p>A website that was made for a mathematics teacher involves uploading his
                online courses for all the academic years he teaches. It’s a platform that
                provides an interactive and engaging learning experience for students. It has
                been built using Angular, Nodejs and Firebase which makes it fast, responsive,
                and secure.</p>
        </div>
    </div>


    <div class="experience">
        <div class="name-date-location">
            <p>10/2023 - 12/2023</p>
            <p>Backend Intern</p>
            <p>Algoriza</p>
            <p>Cairo</p>
        </div>
        <div class="description">
            <p>A Backend Internship at Algoriza, There I have learned to deal with .NET CORE and Web APIs and to create 
                endpoints using Repository pattern with Unit of Work and Onion Architecture, 
                and also used design patterns and SOLID principles.
            </p>
        </div>
    </div>




    <div class="experience">
        <div class="name-date-location">
            <p>07/2022 - 11/2022</p>
            <p>MEAN Stack Developer</p>
            <p>PluralSight</p>
            <p>Cairo</p>
        </div>
        <div class="description">
            <p>Scholarrship Powered by ITI Tech Leaps/Ministry of Communications and Information Technology and managed
                by
                PluralSight, there I have learned how to link the four techs together, MongoDB, Express.js, Angular, and
                Node.js, to design and build responsive and powerful softwares as wel as unit testing.
            </p>
        </div>
    </div>
    <div class="experience">
        <div class="name-date-location">
            <p>04/2022 - 07/2022</p>
            <p>Advanced Fullstack Web Developer</p>
            <p>Udacity</p>
            <p>Cairo</p>
        </div>
        <div class="description">
            <p>Scholarship Powered by ITIDA/Ministry of Communications and Information Technology and managed by
                Udacity.
                Focusing more on backend development using Node.js, Creating servers and APIs using
                Express.js/PostgreSQL, writing scripts for unit testing using Jasmine and
                Creating password hashing and route authorization via JWTs.</p>
        </div>
    </div>
    <div class="experience">
        <div class="name-date-location">
            <p>01/2022 - 02/2022</p>
            <p>React Developer</p>
            <p>Udacity</p>
            <p>Cairo</p>
        </div>
        <div class="description">
            <p>Scholarship Powered by ITIDA/Ministry of Communications and Information Technology and managed by
                Udacity.
                There I have learned how to design single page applications using React and practiced it by doing a MyReads project as an evaluation.
            </p>
        </div>
    </div>
</main>

<app-footer></app-footer>